@import '@unocss/reset/tailwind.css';

* {
  transition: all 300ms ease;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #DBDFDF;
  background: #151615;
  font-family: 'Anuphan', sans-serif;
}

#app {
  min-height: 100dvh;
  width: clamp(1rem, 100%, 40rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 3rem 1rem;
  margin: 0 auto;
}

h1 {
  font-size: clamp(1.3rem, 2vw, 1.5rem);
  line-height: 2rem;
  font-weight: 500;
}

h2 {
  font-size: clamp(1rem, 1.8vw, 1.25rem);
  line-height: 1.75rem;
  font-weight: 500;
}

.page-enter-active,
.page-leave-active {
  transition: all 1s ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.page-enter-to,
.page-leave-from {
  opacity: 1;
}