@import "tailwindcss";
@import "@nuxt/ui";
@source "../../../content/**/*";

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-sofia: "Sofia Sans", sans-serif;
  --font-mono: "DM Mono", monospace;
}

:root {
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
  --default-transition-duration: 300ms;
  --ui-container: var(--container-7xl);
  --ui-primary: black;
}

.dark {
  --ui-primary: white;
}

* {
  scroll-behavior: smooth;
}

::-ms-reveal {
  display: none;
}

.fade-out-in-enter-active,
.fade-out-in-leave-active {
  transition: all 300ms ease;
}

.fade-out-in-enter-from,
.fade-out-in-leave-to {
  opacity: 0;
}

.fade-out-in-enter-to,
.fade-out-in-leave-from {
  opacity: 1;
}