@import "tailwindcss";
@import "@nuxt/ui";
@source "../../../content/**/*";

@theme {
  --font-sans: "DM Sans", sans-serif;
}

:root {
  --default-font-family: var(--font-sans);

  --default-transition-duration: 300ms;

  --ui-container: var(--container-3xl);

  --ui-primary: black;
  
  --ui-bg: white;

  --ui-header-height: --spacing(12);
}

.dark {
  --ui-primary: white;

  --ui-bg: black;
}

* {
  scroll-behavior: smooth;
}


.fade-out-in-enter-active,
.fade-out-in-leave-active {
  transition: all 300ms ease;
}

.fade-out-in-enter-from,
.fade-out-in-leave-to {
  opacity: 0;
}

.fade-out-in-enter-to,
.fade-out-in-leave-from {
  opacity: 1;
}