@import 'tailwindcss';
@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9900 0 0);
  --foreground: oklch(0 0 0);

  --muted: oklch(0.9700 0 0);
  --muted-foreground: oklch(0.4400 0 0);

  --border: oklch(0.9200 0 0);

  --font-sans: 'Space Grotesk', sans-serif;
  --font-serif: Georgia, serif;

  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(1 0 0);

  --muted: oklch(0.2300 0 0);
  --muted-foreground: oklch(0.7200 0 0);

  --border: oklch(0.2600 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
}

@layer components {
  .fade-out-in-enter-active,
  .fade-out-in-leave-active {
    transition: all 300ms ease;
  }

  .fade-out-in-enter-from,
  .fade-out-in-leave-to {
    opacity: 0;
  }

  .fade-out-in-enter-to,
  .fade-out-in-leave-from {
    opacity: 1;
  }
}

@layer base {
  * {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground antialiased tracking-normal;
  }

  h1 {
    @apply scroll-m-20 text-start text-3xl font-extrabold tracking-tight text-balance;
  }

  h2 {
    @apply scroll-m-20 pb-2 text-2xl font-semibold tracking-tight transition-colors first:mt-0;
  }

  h3 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  p {
    @apply leading-7 not-first:mt-4;
  }

  a {
    @apply w-fit text-muted-foreground transition-colors duration-300 hover:text-foreground
  }

  ul {
    @apply my-6 [&>li]:mt-2 list-none;
  }

  hr {
    @apply mx-auto my-12 border-t border-muted max-w-3xs;
  }
}