@import "./centoui.css";

@theme inline {
  --font-sans: 'Bricolage Grotesque', sans-serif;
  --font-serif: 'Instrument Serif', serif;
  --font-mono: 'Space Mono', monospace;
}

@layer base {
  html {
    @apply **:scroll-smooth scroll-smooth scroll-pt-20 scrollbar-thin;
    @apply scrollbar-thumb-muted scrollbar-track-transparent selection:bg-foreground selection:text-background;
  }
}

@utility section-padding {
  @apply pbs-12 sm:pbs-16 md:pbs-20;
}